Repository mitselek/zuga.ee: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, prettier, eslint, typescript, vitest

pytest:
  name: pytest
  entry: bash -c 'cd apps/api && ../../.venv/bin/pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: prettier
  entry: bash -c 'cd apps/web && npm run format --check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd apps/web && npm run type-check'
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: bash -c 'cd apps/web && npm test -- --run'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: ignore Obsidian workspace state files
  .gitignore
Due: none

chore: untrack Obsidian workspace files
  packages/content/.obsidian/app.json
  packages/content/.obsidian/appearance.json
  packages/content/.obsidian/core-plugins.json
  packages/content/.obsidian/graph.json
  packages/content/.obsidian/workspace.json
Due: none

fix: align black and flake8 line length to 79 characters
  apps/api/pyproject.toml
  apps/api/tests/test_models.py
Due: pytest

docs: add Pydantic→TypeScript integration planning
  .github/ISSUE_TEMPLATE.md
  docs/PLANNING_PYDANTIC_TYPESCRIPT_INTEGRATION.md
Due: none

docs: improve formatting and clarity in Pydantic→TypeScript integration planning
  docs/PLANNING_PYDANTIC_TYPESCRIPT_INTEGRATION.md
Due: none

feat: add bidirectional sync warnings between Pydantic and TypeScript
  .github/ISSUE_TEMPLATE.md
  docs/PLANNING_PYDANTIC_TYPESCRIPT_INTEGRATION.md
  scripts/extraction_models.py
Due: none

fix: add email-validator dependency for Pydantic EmailStr
  apps/api/pyproject.toml
  packages/types/package-lock.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
Due: pytest

feat: implement TypeScript types package with runtime validation
  packages/types/README.md
  packages/types/src/content.test.ts
  packages/types/src/content.ts
  packages/types/src/index.ts
  packages/types/src/validators.ts
Due: none

docs: add comprehensive README with CI badges
  README.md
Due: none

feat: align TypeScript/Python schemas with real data
  .github/SCHEMA_ALIGNMENT_ISSUE.md
  packages/content/pages/en/english-2-2-22.md
  packages/content/pages/en/english-about-us-1.md
  packages/content/pages/en/english-inthemood.md
  packages/content/pages/en/english-noise.md
  packages/content/pages/en/english-shame.md
  packages/content/pages/en/english-the-great-unknown.md
  packages/content/pages/en/english-thepassage.md
  packages/content/pages/en/english-weather-or-not.md
  packages/content/pages/en/english.md
  packages/content/pages/et/auhinnad.md
  packages/content/pages/et/etendused-noorele-publikule-2-2-22.md
  packages/content/pages/et/etendused-noorele-publikule-ilma.md
  packages/content/pages/et/etendused-noorele-publikule-kaeik.md
  packages/content/pages/et/etendused-noorele-publikule-meelekolu.md
  packages/content/pages/et/etendused-noorele-publikule-voluvaerk.md
  packages/content/pages/et/etendused-noorele-publikule-zugazuugzuh-zuh-zuh.md
  packages/content/pages/et/etendused-noorele-publikule.md
  packages/content/pages/et/etendused-suurtele-habi.md
  packages/content/pages/et/etendused-suurtele-mura.md
  packages/content/pages/et/etendused-suurtele-suur-teadmatus.md
  packages/content/pages/et/etendused-suurtele.md
  packages/content/pages/et/galerii-et.md
  packages/content/pages/et/galerii.md
  packages/content/pages/et/index.md
  packages/content/pages/et/kontakt-2.md
  packages/content/pages/et/press-zugast.md
  packages/content/pages/et/tegijad.md
  packages/content/pages/et/uudised.md
  packages/content/pages/et/workshopid-meelekolu-mangud-mindstuff-games.md
  packages/content/pages/et/workshopid-tuleviku-liigutajad.md
  packages/content/pages/et/workshopid-zuga-heliliikumistootoad.md
  packages/content/pages/et/workshopid-zuga-liikumise-tootuba-peredele-zugas-movement-workshop-for-families.md
  packages/content/pages/et/workshopid-zuga-liikumispausid.md
  packages/content/pages/et/workshopid.md
  packages/content/pages/et/zuga-toeoed-ja-etendused.md
  packages/types/src/content.ts
  packages/types/src/validators.ts
  scripts/extraction_models.py
  scripts/frontmatter_models.py
Due: none

fix: complete schema alignment - translated field format
  packages/content/pages/en/english-2-2-22.md
  packages/content/pages/en/english-about-us-1.md
  packages/content/pages/en/english-inthemood.md
  packages/content/pages/en/english-noise.md
  packages/content/pages/en/english-shame.md
  packages/content/pages/en/english-the-great-unknown.md
  packages/content/pages/en/english-thepassage.md
  packages/content/pages/en/english-weather-or-not.md
  packages/content/pages/et/etendused-noorele-publikule-2-2-22.md
  packages/content/pages/et/etendused-noorele-publikule-ilma.md
  packages/content/pages/et/etendused-noorele-publikule-kaeik.md
  packages/content/pages/et/etendused-noorele-publikule-meelekolu.md
  packages/content/pages/et/etendused-suurtele-habi.md
  packages/content/pages/et/etendused-suurtele-mura.md
  packages/content/pages/et/etendused-suurtele-suur-teadmatus.md
  packages/content/pages/et/tegijad.md
  packages/types/src/validators.ts
  scripts/link_bilingual_pages.py
Due: none

docs: create Issue #15 - Next.js homepage implementation
  .github/NEXTJS_HOMEPAGE_ISSUE.md
Due: none

docs: add component-specific CI badges to READMEs
  apps/api/README.md
  apps/web/README.md
  packages/types/README.md
Due: pytest, prettier, vitest

feat: implement Next.js homepage with content loader (#15)
  apps/web/next.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/src/test/page.test.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  apps/web/vitest.config.ts
  package-lock.json
  package.json
Due: prettier, eslint, typescript, vitest

fix: add missing content loader files (#15)
  .gitignore
  apps/web/src/lib/content.test.ts
  apps/web/src/lib/content.ts
Due: prettier, eslint, typescript, vitest

chore: initialize zuga-monorepo with workspaces configuration
  README.md
  package-lock.json
  package.json
Due: none

fix: reinstall node_modules to resolve SIGBUS crash
  package-lock.json
Due: none

test: improve frontend test coverage to 98%
  .gitignore
  apps/web/package.json
  apps/web/src/lib/content.test.ts
  apps/web/src/test/page.test.tsx
  apps/web/vitest.config.ts
  package-lock.json
Due: prettier, eslint, typescript, vitest

Fix Tailwind v4 gradient syntax
  apps/web/src/components/PerformanceGallery.astro
Due: vitest

feat: Phase 5-6 enhancements - styling, SEO, accessibility, deployment
  apps/web/astro.config.mjs
  apps/web/netlify.toml
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/public/robots.txt
  apps/web/src/components/LanguageSwitcher.astro
  apps/web/src/components/PageHero.astro
  apps/web/src/components/PerformanceGallery.astro
  apps/web/src/components/VideoEmbed.astro
  apps/web/src/layouts/BaseLayout.astro
  apps/web/src/pages/[lang]/[slug].astro
  apps/web/src/styles/global.css
Due: prettier, vitest

feat: Add official branding - logo and company name
  apps/web/public/logo.gif
  apps/web/src/layouts/BaseLayout.astro
Due: vitest

fix: Add English index page to resolve /en/index routing
  apps/web/src/content/pages/en/index.md
Due: prettier, vitest

feat: Add navigation menu to header
  apps/web/src/components/Navigation.astro
  apps/web/src/layouts/BaseLayout.astro
Due: vitest

design: Change header to white background
  apps/web/src/components/LanguageSwitcher.astro
  apps/web/src/components/Navigation.astro
  apps/web/src/layouts/BaseLayout.astro
Due: vitest

feat: Add performance and workshop listing pages
  apps/web/src/components/PerformanceGallery.astro
  apps/web/src/components/PerformanceList.astro
  apps/web/src/layouts/BaseLayout.astro
  apps/web/src/pages/[lang]/[slug].astro
Due: vitest

feat: Add SVG logo and document site restructuring plan
  apps/web/public/logo.svg
  apps/web/src/layouts/BaseLayout.astro
  docs/SITE_STRUCTURE.md
Due: vitest

chore: Update pre-commit config to match current project structure
  .pre-commit-config.yaml
Due: none

fix: Update CI workflow to match actual project structure
  .github/workflows/ci.yml
Due: none

chore: Keep Python quality checks for future scripts/ directory
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: Add quality gate job to CI workflow
  .github/workflows/ci.yml
Due: none

feat: Update content schema to hierarchical type system (#17)
  apps/web/src/content/config.ts
  docs/CONTENT_MIGRATION.md
Due: prettier, eslint, typescript, vitest

feat: Migrate all 36 pages to new schema (#18)
  apps/web/src/content/pages/en/english-2-2-22.md
  apps/web/src/content/pages/en/english-about-us-1.md
  apps/web/src/content/pages/en/english-inthemood.md
  apps/web/src/content/pages/en/english-noise.md
  apps/web/src/content/pages/en/english-shame.md
  apps/web/src/content/pages/en/english-the-great-unknown.md
  apps/web/src/content/pages/en/english-thepassage.md
  apps/web/src/content/pages/en/english-weather-or-not.md
  apps/web/src/content/pages/en/index.md
  apps/web/src/content/pages/et/auhinnad.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-2-2-22.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-ilma.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-kaeik.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-meelekolu.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-voluvaerk.md
  apps/web/src/content/pages/et/etendused-noorele-publikule-zugazuugzuh-zuh-zuh.md
  apps/web/src/content/pages/et/etendused-noorele-publikule.md
  apps/web/src/content/pages/et/etendused-suurtele-habi.md
  apps/web/src/content/pages/et/etendused-suurtele-mura.md
  apps/web/src/content/pages/et/etendused-suurtele-suur-teadmatus.md
  apps/web/src/content/pages/et/etendused-suurtele.md
  apps/web/src/content/pages/et/galerii-et.md
  apps/web/src/content/pages/et/galerii.md
  apps/web/src/content/pages/et/index.md
  apps/web/src/content/pages/et/kontakt-2.md
  apps/web/src/content/pages/et/press-zugast.md
  apps/web/src/content/pages/et/tegijad.md
  apps/web/src/content/pages/et/uudised.md
  apps/web/src/content/pages/et/workshopid-meelekolu-mangud-mindstuff-games.md
  apps/web/src/content/pages/et/workshopid-tuleviku-liigutajad.md
  apps/web/src/content/pages/et/workshopid-zuga-heliliikumistootoad.md
  apps/web/src/content/pages/et/workshopid-zuga-liikumise-tootuba-peredele-zugas-movement-workshop-for-families.md
  apps/web/src/content/pages/et/workshopid-zuga-liikumispausid.md
  apps/web/src/content/pages/et/workshopid.md
  apps/web/src/content/pages/et/zuga-toeoed-ja-etendused.md
  migrate_frontmatter.py
Due: prettier, vitest

fix: Type hint for optional subcategory in migration script
  migrate_frontmatter.py
Due: none

feat: Implement hierarchical routing structure (#19)
  apps/web/src/content/pages/et/index.md
  apps/web/src/pages/[lang]/[category]/[slug].astro
  apps/web/src/pages/[lang]/[slug].astro
  apps/web/src/pages/[lang]/index.astro
  apps/web/src/pages/index.astro
Due: prettier, vitest

feat: Implement long-scroll homepage with section anchors (#20)
  apps/web/src/pages/[lang]/index.astro
Due: vitest

feat: Add reusable preview card components (#21)
  apps/web/public/placeholder.svg
  apps/web/src/components/ContentCard.astro
  apps/web/src/components/HomeSection.astro
  apps/web/src/pages/[lang]/index.astro
Due: vitest

feat: Implement sticky navigation with anchor links and scroll detection (#22)
  apps/web/src/components/Navigation.astro
  apps/web/src/layouts/BaseLayout.astro
  apps/web/src/pages/[lang]/index.astro
Due: vitest

feat: Implement floating section navigator with scroll tracking (#27)
  apps/web/src/components/Navigation.astro
  apps/web/src/components/SectionNavigator.astro
  apps/web/src/content/pages/et/galerii.md
  apps/web/src/layouts/BaseLayout.astro
  docs/SITE_STRUCTURE.md
Due: prettier, vitest

Path conditions:
  pytest: any of: ^apps/api/
  prettier: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^apps/web/.*\.tsx?$
  vitest: any of: ^apps/web/
